<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Dating app</title>  
</head>
<body>
<header>
    <h1>Overview</h1>
    <img src="../images/filter_48px.png" alt="filter">
</header>
    <main>
        <section>
            <img src="../public/images/chloe.png" alt="picture of chloe"></img>            
            <h2>Chloë, 28</h2>
            <p>M.I.C student at UASA</p>
        </section>
        <section>
            <img src="../images/audrey.png" alt="picture of audrey"></img>
            <h2>Audrey, 24</h2>
            <p>M.I.C student at UASA</p>
        </section>
        <section>
            <img src="../images/erika.png" alt="picture of erika"></img>
            <h2>Erika, 27</h2>
            <p>Influencer</p>
        </section>
        <section>
            <img src="../images/clair.png" alt="picture of clair"></img>
            <h2>Clair, 26</h2>
            <p>M.I.C student at UASA</p>
        </section>
        <section>
            <img src="../images/nessa.png" alt="image of nessa"></img>
            <h2>Nessa, 22</h2>
            <p>M.I.C student at UASA</p>
        </section>
    </main>
        <footer>
        <ul>
            <li><img src="../images/love_48px.png" alt="like"></li>
            <li><img src="../images/multiply_48px.png" alt="dislike"></li>
        </ul>
    </footer>
    <ul>
        <li><img src="../images/chat_52px.png" alt=""></li>
        <li><img src="../images/home_48px.png" alt=""></li>
        <li><img src="../images/settings_48px.png" alt=""></li>
    </ul>
</body>
</html>